.auth{
  padding-bottom: 120px;
  &-content{
    text-align: center;
  }
  .logo-container{
    width: 192px;
    height: 48px;
    margin: auto;
    margin-bottom: 48px;
    margin-top: 40px;
  }
  &-title{
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center ;
  }
  .form-container{
    margin-bottom: 19px;
    &:last-of-type{
      margin-bottom: 31px;
    }
    label{
      text-align: left;
    }
    .link{
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      color: $black;
      position: absolute;
      top: 0;
      transition: all .2s;
      right: 0;
      &:hover{
        color: $orange;
      }
    }
  }
  .button{
    height: 48px;
    margin-bottom: 32px;
  }
  &-link{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: $black;
    text-align: center;
    transition: all .2s;
    &:hover{
      color: $orange;
    }
  }
}