.left-menu-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
  padding-top: 32px;
  width: 100%;
  max-height: calc(100vh - 112px);
  overflow-y: scroll;
  ul {
    margin-bottom: 25px;
    position: relative;
    width: 243px;
    padding-left: 0;
    list-style: none;
    &.navigation:after {
      position: absolute;
      content: '';
      right: 0;
      bottom: -12px;
      width: 203px;
      height: 1px;
      background: #E3E3E3;
    }
  }
  li {
    &:not(.sub-menu):hover {
      background: rgba(52, 26, 17, .06);
    }
  }
  .sub-menu{
    padding-left: 40px;
    ul{
      width: auto;
      margin-bottom: 0;
    }
    li{
      a{
        display: block;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 10px;
        font-size: 14px;
        color: $black;
        &.active{
          background: rgba(52, 26, 17, .06);
        }
      }
    }
  }
  .link-w-icon {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 6px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    .icon {
      opacity: .3;
    }
    &.active {
      background: rgba(52, 26, 17, .06);
      .icon {
        opacity: 1;
      }
      svg {
        path {
          fill: $orange;
        }
      }
    }
  }
  .left-menu-masterClasses {
    width: 243px;
    margin-bottom: 8px;
    .title {
      padding-left: 40px;
      padding-top: 8px;
      padding-bottom: 7px;
      margin-bottom: 0;
      width: 100%;

      font-style: normal;
      font-weight: bold;
      line-height: 17px;
      font-size: 14px;
      //background: rgba(52, 26, 17, .06);
    }
    ul {
      padding-left: 40px;
      margin-bottom: 0;

    }
    li {
      width: 100%;
      a {
        padding-left: 10px;
        height: 55px;
        display: flex;
        flex-wrap: wrap;
        color: $black;
        &.active{
          background-color:rgba(52, 26, 17, .06) ;
        }
        .name {
          display: block;
          width: 100%;
          margin-top: auto;
          font-family: Ubuntu;
          font-style: normal;
          font-weight: normal;
          line-height: 17px;
          margin-bottom: 3px;
          font-size: 14px;
        }

        .author {
          display: block;
          width: 100%;
          margin-bottom: auto;
          font-family: Ubuntu;
          font-style: italic;
          font-weight: normal;
          line-height: 14px;
          font-size: 12px;
          /* black */
          color: $black;
          opacity: 0.6;
        }
      }
    }
  }
  .left-menu-courses {
    width: 243px;
    .title {
      padding-left: 40px;
      padding-top: 8px;
      padding-bottom: 7px;
      margin-bottom: 0;

      font-style: normal;
      font-weight: bold;
      line-height: 17px;
      font-size: 14px;
    }
    ul {
      padding-left: 40px;
      margin-bottom: 0;

    }
    li {
      width: 100%;
      a {
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 6px;
        color: $black;
        display: block;
        width: 100%;
        margin-top: auto;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 3px;
        font-size: 14px;

      }
    }
  }
}