body{
  font-family: 'Ubuntu',sans-serif;
  background: #F4F4F4;
  *{
    &:active{
      outline: none;
    }
    outline: none;
  }
}
.container{
  @media (min-width:1200px) {
    max-width: 1070px;
  }
}

$black: rgb(37, 37, 37);
$secondaryBlack: rgba(37, 37, 37, 0.5);
$orange:#F19137;
$orangeDeep:#EB821F;
